USE [master]
GO
/****** Object:  Database [tianyan]    Script Date: 09/18/2018 10:37:29 ******/
CREATE DATABASE [tianyan] ON  PRIMARY 
( NAME = N'tianyan', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\tianyan.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tianyan_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\tianyan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tianyan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tianyan]
GO
/****** Object:  Table [dbo].[xian_url]    Script Date: 09/18/2018 10:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xian_url](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[province] [nchar](30) NOT NULL,
	[city] [nchar](30) NOT NULL,
	[county] [nchar](30) NULL,
	[url] [nchar](100) NULL,
 CONSTRAINT [PK_xian_url] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[xian_url] ON
INSERT [dbo].[xian_url] ([id], [province], [city], [county], [url]) VALUES (1, N'河北省                           ', N'石家庄市                          ', N'市辖区                           ', N'https://sjz.tianyancha.com/search?key=%E5%B9%BF%E5%91%8A&areaCode=130101                            ')
INSERT [dbo].[xian_url] ([id], [province], [city], [county], [url]) VALUES (2, N'河北省                           ', N'石家庄市                          ', N'长安区                           ', N'https://sjz.tianyancha.com/search?key=%E5%B9%BF%E5%91%8A&areaCode=130102                            ')
INSERT [dbo].[xian_url] ([id], [province], [city], [county], [url]) VALUES (3, N'河北省                           ', N'石家庄市                          ', N'桥西区                           ', N'https://sjz.tianyancha.com/search?key=%E5%B9%BF%E5%91%8A&areaCode=130104                            ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
SET IDENTITY_INSERT [dbo].[xian_url] OFF
